[submodule "lab2"]
	path = lab2
	url = git@github.com:orboan/lab2.git
[submodule "azvm-programming-with-nb"]
	path = azvm-programming-with-nb
	url = git@github.com:orboan/azvm-programming-with-nb.git
[submodule "collab-test-nb"]
	path = collab-test-nb
	url = git@github.com:orboan/collab-test-nb.git
[submodule "itacademy1"]
	path = itacademy1
	url = git@github.com:orboan/itacademy1.git
[submodule "git-sync"]
	path = git-sync
	url = git@github.com:simonthum/git-sync.git
[submodule "git/synctest/theater"]
	path = git/synctest/theater
	url = git@github.com:orboan/theater.git
