[submodule "lab2"]
	path = lab2
	url = git@github.com:orboan/lab2.git
[submodule "git@github.com"]
	path = git@github.com
	url = git@github.com:orboan/azvm-programming-with-nb.git
[submodule "azvm-programming-with-nb"]
	path = azvm-programming-with-nb
	url = git@github.com:orboan/azvm-programming-with-nb.git
